---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  labels:
     app: petclinic
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: petclinic
  template:
     metadata:
       name: petclinic
       labels: 
         app: petclinic
         tier: petclinic
     spec:
         containers:
           - name: petclinic
             image: ekimkuznetsov/petclinic:tagversion
             ports:
               - containerPort: 5000
             imagePullPolicy: Always
  replicas: 1

      
---
apiVersion: v1
kind: Service
metadata:
  name: petclinic-service
spec:
  selector:
    app: petclinic
  type: LoadBalancer  
  ports:
    - protocol: TCP
      targetPort: 8080
      port: 80

